@media screen and (max-width: 1250px) {
    #janela {
        left: 200px;
    }
}

@media screen and (max-width: 1160px) {
    #janela {
        left: 155px;
    }
}

@media screen and (max-width: 1070px) {
    #janela {
        left: 110px;
    }
}

@media screen and (max-width: 980px) {
    #janela {
        left: 65px;
    }
}

@media screen and (max-width: 780px) {
    section {
        width: 360px;
        font-size: 10px;
    }

    h1 {
        font-size: 20px;
    }

    #janela {
        width: 0px;
    }

    .botão {
        opacity: 0%;
    }

    #inferior-esquerdo, #superior-esquerdo {
        opacity: 0%;
    }

    #slider {
        width: 50px;
        max-width: 0px;
        height: 25vw;
        max-height: 150px;
        position: relative;
        right: 15px;
    }

}

@media screen and (max-width: 390px) {
    section {
        width: 290px;
        font-size: 10px;
    }

    #slider {
        right: 1000px;
    }
}
